<form [formGroup]="form" (ngSubmit)="onSubmit()" (change)="onFormUpdate()" class="rounded-lg w-full">
  <div class="grid grid-cols-3 gap-x-1">
    <div class="flex">
      <button
        type="button"
        class="relative flex-1 p-2 bg-gray-200 cursor-pointer font-bold hover:bg-red-800 hover:text-white rounded-t-md"
        (click)="changeSelected('expenses')"
        [class.active-expenses]="'expenses' === selectedType"
      >
        Expenses
      </button>
    </div>

    <div class="flex">
      <button
        type="button"
        class="relative flex-1 p-2 bg-gray-200 cursor-pointer font-bold hover:bg-green-800 hover:text-white rounded-t-md"
        (click)="changeSelected('incomes')"
        [class.active-incomes]="'incomes' === selectedType"
      >
        Incomes
      </button>
    </div>

    <div class="flex">
      <button
        type="button"
        class="relative flex-1 p-2 bg-gray-200 cursor-pointer font-bold hover:bg-blue-800 hover:text-white rounded-t-md"
        (click)="changeSelected('savings')"
        [class.active-savings]="'savings' === selectedType"
      >
        Savings
      </button>
    </div>

    <div class="col-span-3 overflow-y-auto h-[80vh] shadow-lg">
      <detailed-budget-table
        [form]="form"
        [data]="selected"
        [yearTotals]="yearTotals"
        [monthTotals]="monthTotals"
        [selectedType]="selectedType"
        (inputChange)="onInputChange($event)"
      />
    </div>

    <div class="col-span-3 flex justify-center py-3">
      <app-submit-button
        [validForm]="form.valid"
      />
    </div>
  </div>
</form>
