.expense {
  background-color: #fee2e2 !important;
}

.saving {
  background-color: #dbeafe !important;
}

.income {
  background-color: #dcfce7 !important;
}

.mat-mdc-row:hover {
  background-color: #bebebe !important;
  cursor: pointer;
}

.selected {
  background-color: #bebebe !important;
}
