<form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-4 p-6 bg-white shadow-md rounded-md">

  <!-- Username Field -->
  <div class="form-group flex flex-col space-y-2">
    <label for="username" class="font-semibold text-gray-700">Username:</label>
    <input
      type="text"
      id="username"
      name="username"
      formControlName="username"
      class="border border-gray-300 p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
      placeholder="Enter username"
    />
    <div class="h-5">
      <small *ngIf="form.controls['username'].invalid && (form.controls['username'].dirty || !form.controls['username'].untouched)" class="text-red-600">
        <span *ngIf="form.controls['username'].errors?.['required']">Username is required.</span>
      </small>
    </div>
  </div>

  <!-- Password Field -->
  <div class="form-group flex flex-col space-y-2">
    <label for="password" class="font-semibold text-gray-700">Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      formControlName="password"
      class="border border-gray-300 p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
      placeholder="Enter password"
    />
    <div class="h-5">
      <small *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || !form.controls['password'].untouched)" class="text-red-600">
        <span *ngIf="form.controls['password'].errors?.['required']">Password is required.</span>
        <span *ngIf="form.controls['password'].errors?.['minlength']">Password must be at least 6 characters.</span>
      </small>
    </div>
  </div>

  <!-- Buttons -->
  <div class="flex justify-end space-x-4">
    <app-submit-button
      [validForm]="form.valid"
      buttonText="Login"
    />
  </div>

</form>
