<div class="flex flex-col items-center space-y-4">
  <div class="w-full max-w-3xl flex justify-center">
    <div class="flex space-x-4">
      <button
        (click)="toggleAdvanced(false)"
        class="px-6 py-3 rounded-md text-white hover:bg-blue-400 w-44"
        [ngClass]="{
            'bg-blue-400': !showAdvanced,
            'bg-blue-700': showAdvanced
        }"
      >
        Basic
      </button>
      <button
        (click)="toggleAdvanced(true)"
        class="px-6 py-3 rounded-md text-white hover:bg-blue-400 w-44"
        [ngClass]="{
            'bg-blue-400': showAdvanced,
            'bg-blue-700': !showAdvanced
        }"
      >
        Detailed
      </button>
    </div>
  </div>

  <ng-container *ngIf="showAdvanced; else basicForm">
    <div class="w-full h-full">
      <app-advanced-budget-form
        *ngIf="categories.length > 0"
        [budget]="budget"
        [categories]="categories"
        [editing]="editing"
        (budgetSaved)="getBudget()"
        (formUpdated)="onFormUpdate($event)"
      />
    </div>
  </ng-container>

  <ng-template #basicForm>
    <div class="w-full h-full">
      <basic-budget-form
        *ngIf="categories.length > 0"
        [budget]="simplifiedBudget"
        [categories]="categories"
        [editing]="editing"
        (budgetSaved)="getBudget()"
        (formUpdated)="onFormUpdate($event)"
      />
    </div>
  </ng-template>
</div>
