<div [formGroup]="form" class="w-full">
  <mat-form-field class="w-full">
    <mat-label>{{ title }}</mat-label>
    <mat-select [formControlName]="name">
      <mat-option *ngFor="let item of dropdownItems" [value]="item.value">
        {{ item.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="h-5">
    <small *ngIf="form.controls['category_id'].invalid && (form.controls['category_id'].dirty || !form.controls['category_id'].untouched)" class="text-red-600">
      <span *ngIf="form.controls['category_id'].errors?.['required']">Category is required.</span>
    </small>
  </div>
</div>
